@import "tailwindcss";

*, ::before, ::after {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: Inter, system-ui, sans-serif;

  overflow-x: hidden;

  background-color: #020617;

  color: white;
}

a {
  text-decoration: none;

  color: inherit;
}

button {
  border: none;

  background: none;

  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}
